@model WebPACS.Areas.Customer.Models.Customer

@{
    ViewData["Title"] = "Member";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<center>
    <h4 style="margin-left:15px">Member Registration </h4>
</center>
<div class="row" style="margin-left:150px">

    <form asp-action="Customer">
        <div asp-validation-summary="ModelOnly" class="text-danger"></div>
        <fieldset>
            <div class="row">
                <div class="form-group ">
                    <label class="control-label col-md-12">Customer Id</label>
                    <div class="col-md-12">
                        <input class="form-control" />
                    </div>
                </div>
            </div>

            <div class="row">
                <div class="form-group">
                    <label class="control-label col-md-12">First Name</label>
                    <div class="col-md-12">
                        <input class="form-control" />
                    </div>
                </div>
                <div class="form-group">
                    <label class="control-label col-md-12">Middle Name</label>
                    <div class="col-md-12">
                        <input class="form-control" />
                    </div>
                </div>

                <div class="form-group">
                    <label class="control-label col-md-12">Last Name</label>
                    <div class="col-md-12">
                        <input class="form-control" />
                    </div>
                </div>
            </div>
            <div class="row col-md-12">

                <input style="margin-top:15px" ; type="checkbox" id="c1" onblur="c()" onchange="c()" /><p style="margin-top:10px;margin-left:10px;">Father</p>
                <input style="margin-top:15px;margin-left:20px" ; type="checkbox" id="c1" onblur="c()" onchange="c()" /><p style="margin-top:10px;margin-left:10px;">Mother</p>
                <input style="margin-top:15px;margin-left:20px" ; type="checkbox" id="c1" onblur="c()" onchange="c()" /><p style="margin-top:10px;margin-left:10px;">D/o</p>
                <input style="margin-top:15px;margin-left:20px" ; type="checkbox" id="c1" onblur="c()" onchange="c()" /><p style="margin-top:10px;margin-left:10px;">S/o</p>
                <input style="margin-top:15px;margin-left:20px" ; type="checkbox" id="c1" onblur="c()" onchange="c()" /><p style="margin-top:10px;margin-left:10px;">Spouse</p>
                <input style="margin-top:15px;margin-left:20px" ; type="checkbox" id="c1" onblur="c()" onchange="c()" /><p style="margin-top:10px;margin-left:10px;">Guardian</p>
            </div>
            <div class="row col-md-12">
                <div class="row">
                    <div class="form-group col-md-3">
                        <input class="form-control col-md-10" style="margin-top:5px;margin-left:8px" placeholder="First name" />
                    </div>
                    <div class="form-group col-md-3">
                        <input class="form-control col-md-10" style="margin-top:5px;margin-left:-30px" placeholder="Middle name" />
                    </div>

                    <div class="form-group col-md-3">
                        <input class="form-control col-md-10" style="margin-top:5px;margin-left:-60px" placeholder="Last name" />

                    </div>
                    <div class="form-group col-md-3">
                        <input class="form-control col-md-4" style="margin-top:5px;margin-left:-80px" placeholder="Age" />

                    </div>
                </div>



            </div>
            <div class="row col-md-12">

                <div class="row">
                    <div class="form-group">
                        <label class="control-label col-md-12">Type of Member</label>
                        <select class="form-control" id="Member" name="Member">
                            <option>Select</option>
                            <option>Member</option>
                            <option>Nominal Member</option>
                        </select>
                    </div>


                    <div class="row ">
                        <p style="margin-top:30px;margin-left:30px">Address:&nbsp;&nbsp;</p><input style="margin-top:35px;margin-left:30px" type="checkbox" id="c1" onblur="c()" onchange="c()" />&nbsp;
                        <p style="margin-top:30px;margin-left:30px">Already Present in Customer Form&nbsp;&nbsp;</p>
                    </div>

                </div>
                <div class="row">
                    <div class="form-group">
                        <label class="control-label col-md-12"> Address</label>
                        <div class="col-md-12">
                            <input class="form-control" placeholder="H.no" />
                        </div>
                    </div>

                    <div class="form-group">
                        <label class="control-label col-md-12">LandMark</label>
                        <div class="col-md-12">
                            <input class="form-control" placeholder="street" />
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="control-label col-md-8">Google maps</label>
                        <div class="col-md-12">
                            <input class="form-control" placeholder="Map location" />
                        </div>
                    </div>

                </div>
                <div class="row">
                    <div class="form-group">
                        <label class="control-label col-md-4">Village/City</label>
                        <div class="col-md-12">
                            <input class="form-control" placeholder="District" />
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="control-label col-md-4">State</label>
                        <div class="col-md-12">
                            <input class="form-control" placeholder="State" />
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="control-label col-md-4">PinCode</label>
                        <div class="col-md-12">
                            <input class="form-control" placeholder="PinCode" />
                        </div>
                    </div>
                </div>

                <div class="row">
                    <div class="form-group">
                        <label class="control-label col-md-2">Caste</label>
                        <div class="col-md-12">
                            <input class="form-control" />
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="control-label col-md-2">Occupation</label>
                        <div class="col-md-12">
                            <input class="form-control" />
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="control-label col-md-12">Annual Income(Rs.)</label>
                        <div class="col-md-12">
                            <input class="form-control" />
                        </div>
                    </div>
                </div>

                <div class="row">
                    <div class="form-group">
                        <label class="control-label col-md-12">No. Of Shares</label>
                        <div class="col-md-12">
                            <input class="form-control" />
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="control-label col-md-12">Share Amount(Rs.)</label>
                        <div class="col-md-12">
                            <input class="form-control" />
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="control-label col-md-12">Application Fees(Rs.)</label>
                        <div class="col-md-12">
                            <input class="form-control" />
                        </div>
                    </div>
                </div>
                <div class="row ">
                    <div class="form-group">
                        <label class="control-label col-md-12">Member Fees(Rs.)</label>
                        <div class="col-md-12">
                            <input class="form-control" />
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="control-label col-md-12">Total Amount to be Paid(Rs.)</label>
                        <div class="col-md-12">
                            <input class="form-control" />
                        </div>
                    </div>
                </div>
                <div class="row col-md-12">
                    <div class="form-group">
                        <label class="control-label col-md-12" style="margin-left:-10px">Board Meeting Ref. No.</label>
                        <div class="col-md-12">
                            <input style="margin-left:-10px" class="form-control" />
                        </div>
                    </div>
                    <p style="margin-top:30px;margin-left:30px">Under Parameter Control&nbsp;&nbsp;</p>

                </div>
                <div class="row col-md-12" style="margin-left:125px">

                    <div class="form-group">
                        <input type="submit" value="Save" style="width:100px" class="btn btn-primary" />
                    </div> &nbsp;&nbsp;&nbsp;&nbsp;
                    <div class="form-group">
                        <input type="submit" value="Edit" style="width:100px" class="btn btn-primary" />
                    </div> &nbsp;&nbsp;&nbsp;&nbsp;
                    <div class="form-group">
                        <input type="submit" value="Delete" style="width:100px" class="btn btn-primary" />
                    </div> &nbsp;&nbsp;&nbsp;&nbsp;
                </div>

                <br />
                <br />

            </div>
        </fieldset>
    </form>
</div>

<br>
<br>
<br>
<script>
    $(document).ready(function () {
        $("#myInput").on("keyup", function () {
            var value = $(this).val().toLowerCase();
            $("#myTable tr").filter(function () {
                $(this).toggle($(this).text().toLowerCase().indexOf(value) > -1)
            });
        });
    });
</script>