@model WebPACS.Areas.FinYear_ROI.Models.FinYear_ROI

@{
    ViewData["Title"] = "FinYear_ROI";
    Layout = "~/Views/Shared/_Layout.cshtml";
}


<center>
    <h2>
        Financial Year
    </h2>
</center>


<div class="row">

        <form asp-action="FinYear_ROI">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="row">
                <div class="form-group">
                    <label class="control-label col-md-12">Last Calender Year:</label>
                    <div class="col-md-12">
                        <input class="form-control" />
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="form-group">
                    <label class="control-label col-md-12">New Calender Year:</label>
                    <div class="col-md-12">
                        <input class="form-control" />
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="form-group">
                    <label class="control-label col-md-12">Start Date</label>
                    <div class="col-md-12">
                        <input class="form-control datepicker" , placeholder="DD/MM/YYYY" maxlength="50" />
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="form-group">
                    <label class="control-label col-md-6">End Date</label>
                    <div class="col-md-12">
                        <input class="form-control datepicker" , placeholder="DD/MM/YYYY" maxlength="50" />
                    </div>
                </div>
            </div>

            <sup>
                In This Process All The Accounts of Previous Calender Year will be Available in Current Calender Year. Also Last Year's
                Closing Balance will be Current Year's Opening Balance.

            </sup>
            <p style="margin-bottom:15px"/>
            <div class="form-group">
                <input type="submit" value="Create New Calender Year" class="btn btn-primary" />
            </div>
        </form>
    </div>



@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
