@model WebPACS.Areas.Deposit.Models.Deposit

@{
    ViewData["Title"] = "Deposit";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h4 style="margin-left:15px">Deposit</h4>

<hr />

<button id="myBtn" style="border:none;margin-left:15px" class="btn-sm mui-btn--danger">Deposit approval</button>

@*<div class="row">
        <div class="col-md-4">

            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group" style="margin-left:-15px">
                <label class="control-label col-md-6">Customer Name</label>

                <div class="col-md-10">

                    <input class="form-control" placeholder="Search" />

                </div>
            </div>
        </div>
        <div class="form-group" style="margin-left:-15px">
            <label class="control-label col-md-6">Customer ID</label>

            <div class="col-md-10">

                <input class="form-control" placeholder="Search" />

            </div>
        </div>
        <br>
        <div class="form-group" style="margin-top:28px">
            <input type="submit" value="Search" class="btn btn-primary" />
        </div>
        <table id="example" class="display" width="100%"></table>

    </div>*@

<div class="container">
    <h2>@*Filterable Table*@</h2>
    <p>@*Type something in the input field to search the table for first names, last names or emails:*@</p>
    <input class="form-control col-md-6" id="myInput" type="text" placeholder="Search.." style="margin-bottom:5px">
    <br>

    <table class="table table-bordered table-striped">
        <thead>
            <tr>
                <th>Firstname</th>
                <th>Lastname</th>
                <th>Email</th>
                <th style="width:10px">View</th>
            </tr>
        </thead>
        <tbody id="myTable">
            <tr>
                <td>John</td>
                <td>Doe</td>
                <td>john@example.com</td>
                <td>

                    <button onclick="document.getElementById('id01').style.display='block'" class="btn btn-info btn-sm">View</button>

                </td>
             
            </tr>
            <tr>
                <td>Mary</td>
                <td>Moe</td>
                <td>mary@mail.com</td>
                <td>

                    <button onclick="document.getElementById('id01').style.display='block'" class="btn btn-info btn-sm">View</button>

                </td>
              
            </tr>
            <tr>
                <td>July</td>
                <td>Dooley</td>
                <td>july@greatstuff.com</td>
                <td>

                    <button onclick="document.getElementById('id01').style.display='block'" class="btn btn-info btn-sm">View</button>

                </td>
               
            </tr>
            <tr>
                <td>Anja</td>
                <td>Ravendale</td>
                <td>a_r@test.com</td>
                <td>

                    <button onclick="document.getElementById('id01').style.display='block'" class="btn btn-info btn-sm">View</button>

                </td>
               
            </tr>

        </tbody>
    </table>

    <div class="w3-container">

        <div id="id01" class="w3-modal">
            <div class="w3-modal-content">
                <div class="w3-container" style="margin-left:20px">
                    <h3>View details</h3>

                    <hr />
                    <span onclick="document.getElementById('id01').style.display='none'" class="w3-button w3-display-topright">&times;</span>

                    <div class="row">
                        @*<div class="form-group">
                            @Html.HiddenFor(model => model.CustomerID, htmlAttributes: new { @class = "control-label col-md-2" })
                            <div class="col-md-10">
                                @Html.HiddenFor(model => model.CustomerID, new { htmlAttributes = new { @class = "form-control input-sm" } })
                                @Html.ValidationMessageFor(model => model.CustomerID, "", new { @class = "text-danger" })
                            </div>*@

                        <div class="form-group">
                            <label class="control-label col-md-2">FirstName</label>
                            <div class="col-md-12">
                                <input class="form-control" placeholder="John">
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="control-label col-md-2">MiddleName</label>
                            <div class="col-md-12">
                                <input class="form-control" />
                            </div>
                        </div>

                        <div class="form-group">
                            <label class="control-label col-md-2">LastName</label>
                            <div class="col-md-12">
                                <input class="form-control" placeholder="Doe"/>
                            </div>
                        </div>
                    </div>


                    <div class="row">
                        <div class="form-group">
                            <label class="control-label col-md-2">DateofBirth</label>

                            <div class="col-md-12">
                                <input class="form-control datepicker" , placeholder="25/10/1993" , maxlength="50" />

                            </div>
                        </div> &nbsp;

                        <div class="form-group">
                            <label class="control-label col-md-2">Age</label>
                            <div class="col-md-12">
                                <input class="form-control" placeholder="27"/>
                            </div>
                        </div>

                        <div class="form-group">
                            <label class="control-label col-md-2">Gender</label>
                            <div class="col-md-12">
                                <p>Please select your gender:</p>
                                <input type="radio" checked id="male" name="gender" value="male">
                                <label for="male" >Male</label><br>
                                <input type="radio" id="female" name="gender" value="female">
                                <label for="female">Female</label><br>
                                <input type="radio" id="other" name="gender" value="other">
                                <label for="other">Other</label>
                            </div>
                        </div>
                    </div>

                    <div class="row">
                        <span id="sc"> </span>
                        <input type="checkbox" id="c1" onblur="c()" onchange="c()" checked />&nbsp; Father &nbsp;&nbsp;&nbsp;
                        <input type="checkbox" id="c2" onblur="c()" onchange="c()" />&nbsp;  Spouse &nbsp;&nbsp;&nbsp;
                        <input type="checkbox" id="c3" onblur="c()" onchange="c()" />&nbsp;  Guardian &nbsp;&nbsp;&nbsp;
                        <br />

                    </div>
                    <div class="row">
                        <div class="form-group">
                            <label class="control-label col-md-2">FirstName</label>
                            <div class="col-md-12">
                                <input class="form-control" placeholder="Sr." />
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="control-label col-md-2">MiddleName</label>
                            <div class="col-md-12">
                                <input class="form-control" placeholder="John" />
                            </div>
                        </div>

                        <div class="form-group">
                            <label class="control-label col-md-2">LastName</label>
                            <div class="col-md-12">
                                <input class="form-control" placeholder="Doe"/>
                            </div>
                        </div>
                    </div>

                    <div class="row">
                        <div class="form-group">
                            <label class="control-label col-md-2">DateofBirth</label>

                            <div class="col-md-12">
                                <input class="form-control datepicker" , placeholder="DD/MM/YYYY" , maxlength="50" />

                            </div>
                        </div> &nbsp;

                        <div class="form-group">
                            <label class="control-label col-md-2">Age</label>
                            <div class="col-md-12">
                                <input class="form-control" />
                            </div>
                        </div>

                    </div>
                    <div class="row">
                        <div class="form-group">
                            <label class="control-label col-md-2">MobileNo</label>
                            <div class="col-md-12">
                                <input class="form-control" placeholder="684684684" />
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="control-label col-md-2">AlternativeNo</label>
                            <div class="col-md-12">
                                <input class="form-control" />
                            </div>
                        </div>

                        <div class="form-group">
                            <label class="control-label col-md-4"> Email</label>
                            <div class="col-md-12">
                                <input class="form-control"  placeholder="doe@hotmail.com"/>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="form-group">
                            <label class="control-label col-md-4"> Address 1</label>
                            <div class="col-md-12">
                                <input class="form-control" placeholder="#11" />
                            </div>
                        </div>

                        <div class="form-group">
                            <label class="control-label col-md-4"> Address 2</label>
                            <div class="col-md-12">
                                <input class="form-control" placeholder="wallmart street" />
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="control-label col-md-4" style="margin-top:20px">LandMark</label>
                            <div class="col-md-12">
                                <input class="form-control" placeholder="Burj khalifa" />
                            </div>
                        </div>

                    </div>
                    <div class="row">
                        <div class="form-group">
                            <label class="control-label col-md-4">Village/City</label>
                            <div class="col-md-12">
                                <input class="form-control" placeholder="District" />
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="control-label col-md-4">State</label>
                            <div class="col-md-12">
                                <input class="form-control" placeholder="State" />
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="control-label col-md-4">PinCode</label>
                            <div class="col-md-12">
                                <input class="form-control" placeholder="PinCode" />
                            </div>
                        </div>
                    </div>

                    <div class="row">
                        <div class="form-group">
                            <label class="control-label col-md-2">Caste</label>
                            <div class="col-md-12">
                                <input class="form-control" />
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="control-label col-md-2">Occupation</label>
                            <div class="col-md-12">
                                <input class="form-control" />
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="control-label col-md-2">AnnualIncome</label>
                            <div class="col-md-12">
                                <input class="form-control" />
                            </div>
                        </div>
                    </div>


                    <div class="row">
                        Address: &nbsp;<input type="checkbox" id="c1" onblur="c()" onchange="c()" /> Same as the Above given
                    </div>
                    <br>
                    <div class="form-group">
                        <input type="submit" value="Save" class="btn btn-outline-primary" />

                        @*<input type="submit" value="Sign in" class="mui-btn mui-btn--primary" />
                            <a asp-action="RegisterAdmin" asp-controller="Administrator" style="margin-left:5px" class="mui-btn mui-btn--danger">Admin Registration</a>*@

                    </div>
                </div>
            </div>
        </div>

    </div>
</div>

<!-- The Modal -->
<div id="myModal" class="modal">

    <!-- Modal content -->
    <div class="modal-content">
        <span style="float:right" class="close">&times;</span>
        <p></p>
        <div class="row">
            <div class="form-group">
                <label class="control-label col-md-12">Date from</label>
                <div class="col-md-10">
                    <input class="form-control datepicker" , placeholder="DD/MM/YYYY" maxlength="50" />
                </div>
            </div>
            <div class="col">
                <div class="form-group">
                    <label class="control-label col-md-12">Application number from</label>
                    <div class="col-md-4">
                        <input class="form-control datepicker" , placeholder="number" maxlength="50" />
                    </div>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="form-group">
                <label class="control-label col-md-12">Date from</label>
                <div class="col-md-10">
                    <input class="form-control datepicker" , placeholder="DD/MM/YYYY" maxlength="50" />
                </div>
            </div>
            <div class="col">
                <div class="form-group">
                    <label class="control-label col-md-12">Application number from</label>
                    <div class="col-md-4">
                        <input class="form-control datepicker" , placeholder="number" maxlength="50" />
                    </div>
                </div>
            </div>
        </div>
        <table class="table table-bordered table-striped">
            <thead>
                <tr>
                    <th style="width:20px">Application number</th>
                    <th style="width:20px">Customer Id</th>
                    <th style="width:20px">Name</th>
                    <th style="width:20px">Deposit type</th>
                    <th style="width:20px">Principal amount</th>

                    <th style="width:20px">Select</th>

                </tr>
            </thead>
            
        </table>
        <div class="col" style="margin-top:25px;margin-bottom:50px">
            <div class="form-group">


                <input type="submit" class="btn btn-primary" value="Approve" , placeholder="number" maxlength="50" />

            </div>
        </div>

    </div>
    <br>
 
    </div>



@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}


<script>
    $(document).ready(function () {
        $("#myInput").on("keyup", function () {
            var value = $(this).val().toLowerCase();
            $("#myTable tr").filter(function () {
                $(this).toggle($(this).text().toLowerCase().indexOf(value) > -1)
            });
        });
    });
</script>
<style>
    body {
        font-family: Arial, Helvetica, sans-serif;
    }

    /* The Modal (background) */
    .modal {
        display: none; /* Hidden by default */
        position: fixed; /* Stay in place */
        z-index: 1; /* Sit on top */
        padding-top: 100px; /* Location of the box */
        left: 0;
        top: 0;
        width: 100%; /* Full width */
        height: 100%; /* Full height */
        overflow: auto; /* Enable scroll if needed */
        background-color: rgb(0,0,0); /* Fallback color */
        background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
    }

    /* Modal Content */
    .modal-content {
        background-color: #fefefe;
        margin: auto;
        padding: 20px;
        border: 1px solid #888;
        width: 80%;
    }

    /* The Close Button */
    .close {
        color: #aaaaaa;
        float: right;
        font-size: 28px;
        font-weight: bold;
    }

        .close:hover,
        .close:focus {
            color: #000;
            text-decoration: none;
            cursor: pointer;
        }
</style>


<script>
    // Get the modal
    var modal = document.getElementById("myModal");

    // Get the button that opens the modal
    var btn = document.getElementById("myBtn");

    // Get the <span> element that closes the modal
    var span = document.getElementsByClassName("close")[0];

    // When the user clicks the button, open the modal
    btn.onclick = function () {
        modal.style.display = "block";
    }

    // When the user clicks on <span> (x), close the modal
    span.onclick = function () {
        modal.style.display = "none";
    }

    // When the user clicks anywhere outside of the modal, close it
    window.onclick = function (event) {
        if (event.target == modal) {
            modal.style.display = "none";
        }
    }
</script>